.main {
  width: 100%;
  background-color: #e5e5e5;
}
.about {
  &__content {
    text-align: center;
    background-image: url(../../images/headerBackground1.png);
    color: #fff;
    padding: 163px 0;
    background-repeat: no-repeat;
  }
  &__content-title {
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 21px;
  }
  &__content-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
  }
}
