.content {
  &__conteiner {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    padding: 0 20px 20px 20px;
    @media (max-width: 1200px) {
      max-width: 1000px;
      
    }
    
    @media (max-width: 450px) {
      max-width: 360px;


    }
  }
  &__item {
    width: calc((100% - 40px) / 3);
    border-right: 1px solid #e9e9e9;
    border-bottom: 1px solid #e9e9e9;
    @media (max-width: 700px) {
      width: calc((100% - 20px) / 2);
      
    @media (max-width: 650px) {
      width: calc((100% - 20px) / 2);
      
    }
    //@media (max-width: 420px) {
    //  width: calc((100% - 60px));
      
    //}
    }
  }
  &__item-info {
    color: #443e3e;
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 1.5rem;
    @media (max-width: 450px) {
      margin-bottom: 20px;
      
    }
  }
  &__item-content {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    @media (max-width: 450px) {
     flex-direction: column;
     position: relative;
      
    }
  }
  //  &__img-conteiner {
    //  }
    &__img-conteiner{
      height: 300px;
      @media (max-width: 769px) {
        height: 250px;
      }
      @media (max-width: 560px) {
        height: 200px;
      }
      @media (max-width: 400px) {
        height: 180px;
        
      }
      @media (max-width: 370px) {
        height: 110px;
        
      }

    }
    &__img {
    width: 100%;
    height: 100%;
    
    //@media (max-width: 900px) {
    //  height: 200px;
    //}
    //@media (max-width: 600px) {
    //  height: 180px;
    //}
    
  }
  &__item-star {
    fill: #eec;
    transition: all 0.4s;
    @media (max-width: 450px) {
      position: absolute;
      top: 10%;
      left: 70%;
    }
    @media (min-width: 450px) {
      &:hover{
        cursor: pointer;
        fill: rgba(238, 238, 17, 0.482);
      }
    }
    
    
  }
  &__item-star.active{
    fill: #ee1;
    transform: rotateY(180deg);

  }

  &__item-btn {
    padding: 5px;
    border-radius: 5px;
    border-color: transparent;
    transition: border-color 0.3s;
    
    
  }
  &__item-buttons {
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 100px;
    @media (max-width: 560px) {
      gap: 80px;
    }
    @media (max-width: 450px) {
      display: block;
      
    }
    //@media (max-width: 370px) {
    //  gap: 50px;
      
    //}
  }
  &__conteiner-buttons {
    display: flex;
    flex-direction: column;
    gap:10px ;
    @media (max-width: 450px) {
      gap: 15px;
      
      
    }

    
  }
  &__conteiner-btn{
    padding: 4px;
    border-radius: 6px;
    border-color: transparent;
    @media (max-width: 450px) {
      padding: 8px;
      
    }
    &:hover{
      cursor: pointer;
      border-color: #d0cece;
    }
  }
}

.hidden{
  @media (min-width: 600px) {
    overflow: hidden;
    margin-right: 17px;
  }

}
.scroll{
  @media (min-width: 600px) {
    overflow: scroll;
    margin-right: 0;
  }
  
}

.messege{
  background-color: #008000de;
  padding: 28px;
  position: absolute;
  font-size: 2rem;
  color: darkgray;
  border-radius: 10px;
  top: 16%;
  left: 56%;
}

